@font-face {
  font-family: 'Chewy';
  src: url('../Fonts/Chewy/Chewy-Regular.ttf');
}

:root {
  --primary-color: #797D87;
  --secondary-color: #c9cbcf;
  --thirdary-color: #95979c;
  --border-color: #3d3f44;
  --light-border-color: #5a5a5a;
  --navbar-text-color: #18191b;
  --primary-text-color: #0a0a0b;
  --secondary-text-color: #212225;
  --red-color: #cb8e8e;
  --blue-color: #8e96cb;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--navbar-text-color);
}

a {
  text-decoration: none;
}

button {
  display: block;
  padding: 0.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--border-color);
  background-color: var(--secondary-color);
  /* color: white; */
  color: var(--navbar-text-color);
  font-family: 'Chewy';
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: var(--secondary-color);
  font-family: "Chewy";
}

#root {
  height: 100%;
  width: 100%;
}

.centerx-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
