@font-face {
  font-family: 'Chewy';
  src: url('../Fonts/Chewy/Chewy-Regular.ttf');
}

:root {
  --primary-color: rgb(15, 15, 30);
  --secondary-color: rgb(20, 20, 30);
  --background-color: rgb(8, 3, 15);
  --thirdary-color: #95979c;
  --border-color: rgb(90, 90, 100);
  --board-border: rgb(50, 50, 60);
  --light-border-color: #5a5a5a;
  --navbar-text-color: rgb(210, 210, 230);
  --primary-text-color: #0a0a0b;
  --secondary-text-color: #212225;
  --red-color: #cb8e8e;
  --blue-color: #8e96cb;
  --white-color: #f7f7f7;
  --other-users: #d6d6d6;
  /* squares */
  --selected-square: rgb(130, 110, 120);
  --white-square: rgb(210, 200, 225);
  --black-square: rgb(40, 40, 60);
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--navbar-text-color);
}

body {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: var(--background-color);
  font-family: "Chewy";
}

#root {
  height: 100%;
  width: 100%;
}

#App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

a {
  text-decoration: none;
}

button {
  display: block;
  padding: 0.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--border-color);
  background-color: var(--secondary-color);
  /* color: white; */
  color: var(--navbar-text-color);
  font-family: 'Chewy';
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

.centerx-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
