@font-face {
	font-family: 'Chewy';
	src: url('../Fonts/Chewy/Chewy-Regular.ttf');
}

:root {
	--button-color: rgb(35, 15, 50);
	--primary-color: rgb(15, 15, 30);
	--secondary-color: rgb(40, 40, 58);
	--background-color: rgb(50, 50, 71);
	--border-color: rgb(28, 20, 35);
	--light-border: rgb(150, 150, 190);
	--board-border: rgb(15, 15, 35);
	--navbar-text-color: rgb(190, 190, 230);
	--primary-text-color: #0a0a0b;
	--secondary-text-color: #212225;
	--red-color: #cb8e8e;
	--blue-color: #8e96cb;
	--white-color: #f7f7f7;
	--other-users: #d6d6d6;
	--dark-shadow: rgb(20, 10, 30);
	/* squares */
	--selected-square: rgb(130, 110, 120);
	--white-square: rgb(210, 200, 225);
	--black-square: rgb(40, 40, 60);
}

html {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	color: var(--navbar-text-color);
	user-select: none;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: "Chewy";
}

#root {
	height: 100%;
	width: 100%;
}

#App {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 0;
	background: linear-gradient(315deg, rgba(60, 45, 85), rgba(35, 30, 65));
}

a {
	text-decoration: none;
}

button {
	position: relative;
	display: block;
	padding: 0.5rem;
	border-radius: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--light-border);
	background-color: var(--button-color);
	/* color: white; */
	font-family: 'Chewy';
	z-index: 1;
}

button::before {
	content: "";
	position: absolute;
	background: linear-gradient(135deg, rgba(200, 200, 220, 0.1), rgba(20, 10, 50, 0.1));
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: 6;
	pointer-events: none;
}

button * {
	z-index: 3;
}

button:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: brightness(0.9);
}

button:active {
	transform: scale(0.95);
	filter: brightness(0.8);
}

.centerx-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

lighter-reflection {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

lighter-reflection::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background: linear-gradient(135deg, rgba(200, 200, 240, 0.1), rgba(100, 100, 120, 0.1));
	z-index: 2;
	pointer-events: none;
}

lighter-reflection * {
	z-index: 3;
}

.navbar-pseudo {
	position: relative;
	z-index: 10;
	background-color: var(--primary-color);
}

.navbar-pseudo::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	background: linear-gradient(0deg, rgba(150, 40, 140, 0.2), rgba(125, 105, 205, 0.22));
	z-index: 11;
	pointer-events: none;
}

.navbar-pseudo * {
	z-index: 15;
}

.block-bg {
	position: relative;
	z-index: 0;
	background-color: var(--background-color);
	border: 0.1rem solid var(--border-color);
}

.block-bg::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgba(50, 50, 150, 0.1), rgba(220, 220, 255, 0.15));
	z-index: 1;
}

.block-bg * {
	z-index: 15;
}
