dialog {
  border: none !important;
}

.dialog {
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}

.dialog-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: none;
  padding: 10%;
}

.dialog-content h1 {
  font-size: 3rem;
}

.dialog-content p {
  font-size: 1.5rem;
  margin: auto auto;
}

.ghost {
  display: hidden;
  height: 10%;
}

.invite-response {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.invite-button {
  display: grid;
  place-items: center;
}

.invite-accept {
  background-color: var(--blue-color);
}

.invite-reject {
  background-color: var(--red-color);
}

.challenger-text {
  display: inline;
  margin: 0;
}

#alert-box {
  position: fixed;
  display: none;
  border: 0.07rem solid black;
  background-color: white;
  z-index: 100;
  color: black;
  top: 10%;
  left: 60%;
  height: 20%;
  width: 20%;
  padding: 2%;
  flex-direction: column;
  justify-content: space-between;
  opacity: 100%;
}

#alert-box-title {
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 1rem;
  color: #b51010;
  width: 100%;
  border-bottom: 0.07rem solid black;
}

#alert-box-content {
  display: grid;
  place-items: center;
}
