.account-base-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-block {
  margin-top: 5%;
  padding: 1rem 5rem;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0.13rem;
  box-shadow: 0 0 10px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-title {
  margin: 1rem;
  /* text-shadow: 0px 0px 1px black; */
  color: var(--secondary-text-color);
}

.input-block {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 1rem; */
  align-items: center;
}

.input-header {}

.input-input {
  height: 1.2rem;
  /* width: 80%; */
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--border-color);
}

.account-submit-btn {
  margin: 0.6rem;
  background-color: white;
}

.account-signin-redirect {
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 0.6rem;
}

.account-same-line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

#stay-connected-checkbox {
  width: 2rem;
  height: 2rem;
  accent-color: var(--secondary-text-color);
  background-color: white;
}
