#navbar {
	top: 0%;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	border-style: solid;
	border-bottom-width: 0.1rem;
	border-color: var(--border-color);
	padding: 0rem 5rem;
	box-shadow: 0rem 0px 3px var(--border-color);
	z-index: 10;
	background: var(--gradient-bg);
}

#navbar * {
	padding: 0.5rem 0;
	z-index: 15;
}

#nav-title {
	margin-left: 1rem;
}

#nav-title:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#nav-title:active {
	transform: scale(0.95);
}

#nav-links {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 1.5rem;
}

#nav-links li {
	list-style: none;
}

#nav-links li:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#nav-links li:active {
	transform: scale(0.95);
}

#nav-login {
	font-family: "Mono";
}

@media (max-width: 600px) {
	#navbar {
		gap: 1.5rem;
	}
}
