#game-page-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2%;
}

.board-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex: 0 0 40%;
}

.board {
	height: 70vmin;
	width: 70vmin;
	max-width: 60vw;
	max-height: 60vw;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border-color: var(--board-border);
	border-style: solid;
	border-width: 0.2rem;
	box-shadow: 0 0 1rem var(--board-border);
}

.square {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0;
	border-width: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0.01rem;
	border-color: var(--board-border);
	z-index: 5;
}

.square::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(315deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.square:hover {
	box-shadow: 0 0 0.2rem var(--board-border);
	z-index: 6;
}

.square:active {
	transform: scale(1);
}

.white-square {
	background: none;
	background-color: var(--white-square);
}

.black-square {
	background: none;
	background-color: var(--black-square);
}

#on-top {
	position: absolute;
	height: auto;
	width: auto;
	max-width: 80%;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem 1rem;
	background-color: var(--primary-color);
	border-radius: 1.5rem;
	border: 0.09rem solid var(--border-color);
	box-shadow: 0px 0px 0.2rem var(--border-color);
	z-index: 150;
}

#right-side {
	height: auto;
	width: auto;
	min-width: 30vw;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem 1rem;
	background-color: var(--primary-color);
	border-radius: 1.5rem;
	border: 0.09rem solid var(--border-color);
	box-shadow: 0px 0px 0.2rem var(--border-color);
}

.select-mode {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	border-radius: inherit;
}

.select-mode-title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.select-mode-title {
	display: flex;
	text-align: center;
}

.play-buttons-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 10000;
	gap: 0.5rem;
}

.rs-buttons {
	width: 8rem;
	max-width: 80%;
}

@media (max-width: 750px) {
	#game-page-container {
		flex-direction: column;
		height: 100vh;
		max-height: 100%;
		gap: 0%;
	}

	#right-side {
		display: none;
	}

	#on-top {
		display: flex;
	}

	.select-mode {
		gap: 0.5rem;
	}

	.select-mode-title {
		font-size: 1rem;
	}

	.rs-buttons {
		width: 6rem;
		max-width: 80%;
	}

	.play-buttons-container {
		flex-direction: row;
	}

	.board {
		height: auto;
		width: 100%;
		/* max-width: 60vh; */
		max-width: 75vh;
		max-height: none;
		aspect-ratio: 1/1;
	}

}
