#social-page-container {
	position: relative;
	display: flex;
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.whole-width {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#global-message-page-container {
	justify-content: space-evenly;
	align-items: center;
}

#center-message-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#global-message-section {
	height: 80vh;
	width: 80vh;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 0.3rem var(--dark-shadow);
	z-index: 1;
}

#active-users-container {
	position: relative;
	max-height: 50vh;
	width: 18%;
	border: 0.1rem solid black;
	box-shadow: 0px 0px 0.3rem var(--dark-shadow);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	overflow: auto;
	padding-bottom: 1rem;
	background-color: rgba(60, 42, 95);
}

/* #active-users-container::before { */
/* 	position: absolute; */
/* 	content: ""; */
/* 	height: 100%; */
/* 	width: 100%; */
/* 	top: 0; */
/* 	left: 0; */
/* 	border-radius: inherit; */
/* } */
/**/
#active-users-title-container {
	width: 100%;
	border-bottom: 0.1rem solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

#active-users-title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0.4rem;
}

#active-users-list {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.active-users-list-element {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 0.07rem solid black;
	border-top: 0.07rem solid black;
}

.active-users-left {
	width: 10%;
}

.active-users-middle {
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.active-users-right {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.challenge-icon {
	cursor: pointer;
}

#message-icon {
	cursor: pointer;
}

#message-history {
	position: relative;
	height: calc(80vh - 2rem);
	width: 100%;
	border: 0.1rem solid var(--border-color);
	overflow-y: overlay;
	z-index: 100;
	/* background: linear-gradient(160deg, rgba(50, 25, 80), rgba(65, 30, 75)); */
}

#global-message-title {
	display: grid;
	place-items: center;
	background-color: var(--primary-color);
	font-size: 1.6rem;
	padding: 0.2rem;
	border-top: 0.1rem solid var(--border-color);
	border-left: 0.1rem solid var(--border-color);
	border-right: 0.1rem solid var(--border-color);
}

#global-message-title::after {
	position: absolute;
	top: 100%;
	width: 100%;
	content: "";
	height: var(--after-height);
	background: linear-gradient(160deg, rgba(40, 25, 70), rgba(250, 250, 250, 0.2), rgba(60, 30, 75));
	z-index: 1;
}

#message-history * {
	z-index: 101;
}

#message-history-blurr::before {
	position: relative;
	height: 100%;
	width: 100%;
	content: "";
	background: linear-gradient(160deg, rgba(60, 30, 45, 0.2), transparent, rgba(50, 50, 80, 0.4));
}

#input-message {
	position: relative;
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	border-bottom: 0.1rem solid var(--border-color);
	border-left: 0.1rem solid var(--border-color);
	border-right: 0.1rem solid var(--border-color);
	overflow-y: scroll;
	font-family: "Chewy";
	background-color: rgba(65, 50, 120, 1);
	z-index: 1000;
}

.chat-message-container-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2% 5%;
}

.left {
	align-items: flex-start;
}

.right {
	align-items: flex-end;
}

.chat-message-container {
	position: relative;
	padding: 0.2rem;
	width: 60%;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 0.3rem black;
	overflow-wrap: break-word;
	word-break: normal;
	white-space: normal;
	z-index: 1;
}

.chat-message-container::before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	content: "";
	background: linear-gradient(225deg, rgba(165, 155, 255, 0.15), rgba(0, 0, 0, 0.01));
	z-index: 1;
}

.chat-message-paragraph {
	font-size: 1.2rem;
	margin-left: 3%;
}

#chat-message-user {
	background-color: rgba(55, 55, 125, 0.1);
	right: 0%;
}

#chat-message-other {
	background-color: rgba(105, 95, 185, 0.1);
	left: 0%;
}
