#social-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  justify-content: space-evenly;
}

.whole-width {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#global-message-container {
  justify-content: space-between;
}

#global-message-section {
  margin-top: 5%;
  height: 80vh;
  width: 80vh;
  color: black;
  display: flex;
  flex-direction: column;
}

#active-users-container {
  max-height: 50vh;
  width: 15%;
  border: 0.1rem solid black;
  background-color: var(--white-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: auto;
  padding-bottom: 1rem;
}

#active-users-title-container {
  width: 100%;
  border-bottom: 0.1rem solid black;
  display: grid;
  place-items: center;
  background-color: var(--other-users);
}

#active-users-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.active-users-list-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.07rem solid black;
  border-top: 0.07rem solid black;
  background-color: var(--other-users);
}

.active-users-left {
  width: 10%;
}

.active-users-middle {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-users-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.challenge-icon {
  cursor: pointer;
}

#message-icon {
  cursor: pointer;
}

#message-history {
  height: calc(90%);
  width: 100%;
  background-color: var(--white-color);
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#input-message {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: aliceblue;
  border-bottom: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  overflow: auto;
}

.chat-message-container-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

.chat-message-container {
  padding: 0.2rem;
  width: 60%;
  border-radius: 0.5rem;
  border: 0.07rem solid black;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
}

.chat-message-paragraph {
  font-size: 1rem;
  margin-left: 3%;
}

#chat-message-user {
  background-color: aliceblue;
  right: 0%;
}

#chat-message-other {
  background-color: var(--other-users);
  left: 0%;
}

#global-message-title {
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  padding: 0.2rem;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
}
