#social-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.whole-width {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#global-message-container {
  justify-content: space-between;
}

#global-message-section {
  height: 80vh;
  width: 50vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message-history {
  margin-top: 10%;
  height: calc(90%);
  width: 100%;
  background-color: white;
  border: 0.01rem solid var(--light-border-color);
}

#input-message {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: aliceblue;
  border: 0.01rem solid var(--light-border-color);
  overflow: auto;
}

#active-users-container {
  height: 50vh;
  width: 20%;
  border: 0.03rem solid var(--light-border-color);
  box-shadow: 0px 0px 0.2rem black;
  background-color: var(--thirdary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}

#active-users-title-container {
  width: 100%;
  border: 0.09rem solid var(--light-border-color);
  display: grid;
  place-items: center;
}

#active-users-list {
  width: 100%;
  height: 100%;
  list-style: none;
}

.active-users-list-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border: 0.01rem solid var(--light-border-color);
}

.active-users-left {
  width: 20%;
}

.active-users-middle {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-users-right {
  width: 20%;
}
